doctype html
html
   head
      title = "Hello Pug"
   body
      p.greetings#people Hello World!
      h1.greetings#people hello Iam pug!
      body
      h3 Testing static file serving:
      img(src = "/testimage.jpg", alt = "Testing Image
   